@import "./components/avariables";
@import "./components/amixins";
@import "./components/reset";
@import "./components/header";
@import "./components/footer";
@import "./components/menu";
@import "./components/grid";
@import "./components/buttons";
@import "./components/animate";
@import "./components/main-slider";
@import "./components/gallery";
@import "./components/search";
@import "./components/awards";
@import "./components/card";
@import "./components/single";
@import "./components/archive";
@import "./components/privacy-policy";
@import "./components/page";
@import "./components/formulario.scss";
@import "./components/sidebar.scss";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wow {

    visibility: hidden;
}

/* Estilo para ajustar a imagem de fundo */
.image-slide-container {
    background-size: cover;
    background-position: center center;
  }
  