@font-face {
  font-family: 'DIN2014-Bold';
  src: url('DIN2014-Bold.eot');
  src: url('DIN2014-Bold.eot?#iefix') format('embedded-opentype'),
       url('DIN2014-Bold.svg#DIN2014-Bold') format('svg'),
       url('DIN2014-Bold.ttf') format('truetype'),
       url('DIN2014-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

