.main-slider__controller {
    background-size: 100%;
    background-attachment: fixed;
    padding: 50px 10px;
    height: 80vh;
}

.main-slider {
    &.main-slider--controll {
        position: relative;
    }
    .main-slider__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: 100%;
        .description {
            font-size: 1.5em;
            color: white;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 680px)  {
    .main-slider {
        .main-slider__content {
            grid-template-columns: 1fr;
            .description {
                font-size: 1.2em;
            }
        }
    }
}