.awards {
    .destaques {
        margin-top: 50px;
        h2 {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .destaques__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
            .destaques__wrapper--btn {
                color: #808b8b;
                font-size: 1.4em;
                border: 2px solid #808b8b;
                padding: 5px 15px;
                &:hover {
                    text-decoration: none;
                    color: darken($color: #808b8b, $amount: 15%);
                    border-color: darken($color: #808b8b, $amount: 15%);
                }
            }
        }
    }
    .awards__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
        .awards__wrapper--content {
            border-radius: 5px;
            overflow: hidden;
            padding-bottom: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            transition: all 0.5s ease-out;
            &:hover {
                transform: scale(1.02);
            }
        }
    }
    h2 {
        font-size: 2.3em;
        font-weight: bold;
    }
    .awards__wapper--text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;
        padding: 0 10px;
        span, a {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .fornecedor-name {
            font-weight: bold;
            font-size: 1.8em;
            font-family: "Caveat", cursive;
        }
        .fornecedor-cost, .fornecedor-capacity {
            font-weight: 500;
        }
        a {
            color: #808b8b;
            &:hover {
                text-decoration: none;
                color: darken($color: #808b8b, $amount: 15%);
            }
        }
    }
}