@import "avariables";


.btn {
    justify-self: end;
    font-size: 1em;
    background-color: #176B87;
    padding: 20px 20px;
    border-radius: 6px;
    color: white;
    &:hover {
        background-color: darken($color: #176B87, $amount: 15%);
        color: white;
        text-decoration: none;
    }
}

.btn--orange {

	background-color: #eb8129;
	color: #fff;
	box-shadow: 20px 17px 20px 0px rgba(235, 129, 41, 0);
	font-size: 1.3em;

	&:hover {

		background-color: darken(#eb8129, 10%);
		color: #fff;
	}
}

.btn--big {

	font-weight: bold;
	font-size: 1.8em;
	padding: 10px 30px;
}
@media screen and (max-width: 680px) {
	.btn {
		justify-self: center;
    	padding: 10px;
	}
}
@media screen and (max-width: 580px) {

	.btn--big {

		font-size: 1.2em;
	}
}