.col{
	display:inline-block;
	vertical-align: top;
	border:1px solid;
	&.col-2{width: 50%}
	&.col-3{width: 33.33%}
	&.col-4{width: 25%}
	&.col-5{width: 20%}
	&.col-6{width: 16.6%}
}

.wrapper-grid {
	padding: 45px;
	.wrapper-grid__controller {
		overflow: hidden;
	}
	.wrapper-grid__cta {
		text-align: center;
		padding: 200px 0;
		&:hover {
			transform: scale(1.2);
			transition-duration: 1s;
		}

		a {
			font-size: 2em;
			color: white;
			text-decoration: none;
			font-weight: bold;
			border: 2px solid white;
			padding: 10px 5px;
			position: relative;
			
		}
		&:hover a{
			border: none;
			&:before{
				content: "";
				border-bottom: 2px solid white;
				position: absolute;
				bottom: -5px;
				left: 0;
				right: 0;
				margin: auto;
				width: 40px;
				letter-spacing: 1px;
				transition-duration: 1s;
				
			}
		}
	}
}

@media screen and (max-width: 860px) {

	.col{
		&.col-4{
			width: 50%;
		}
	}

}

@media screen and (max-width: 400px) {
	.col{
		&.col-4{
			width: 100%;
		}
	}
}