@import "../components/amixins";

.h1-hide {
    text-indent: -99999px;
    width: 0;
    height: 0;
    float: left;
}
.center {
	width: 1250px;
	margin: 0 auto;
}
header.principal-header {

	display: inline-block;
    width: 100%;
    vertical-align: top;
    position: fixed;
    z-index: 44;
	left: 0;
	.wrapper-logo {
		width: 185px;
	}
	.center-header {
		background-color: white;
		opacity: 0.75;
	}
	.wrapper-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

}
@media screen and (max-width: 1250px) {
	.center {
		width: 97%;
	}
}

@media screen and (min-width: 1185px) {

}

@media screen and (max-width: 1185px) {

	header.principal-header .wrapper-logo{
		width: 200px;
	}

}

@media screen and (max-width: 1085px) {

}

@media screen and (max-width: 970px) {

}

@media screen and (max-width: 680px) {

}