.container {
    margin-top: 114px;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 25px;
    p {
        opacity: 1;
    }
}
.single-partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    .single-partner__info {
        .wrapper-partner {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            a, span {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
        .swiper-partner__content {
            .swiper-slide {
                height: 60vh;
            }
        }
        h2 {
            font-weight: bold;
            font-size: 1.8em;
            font-family: "Caveat", cursive;
        }
        
    }
    .single-partner__info--wrapper {
        display: flex;
        flex-direction: column;

        .contact {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .contact__icon {
                display: flex;
                justify-content: space-between;
                .icon-whatsapp {
                    background-color: #0ca90c;
                    border-radius: 100%;
                    padding: 20px;
                }
                .icon-instagram {
                    background: #f09433; 
                    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                    border-radius: 100%;
                    padding: 20px;
                }
                .icon-facebook {
                    background-color: #2050b3;
                    border-radius: 100%;
                    padding: 20px;
                }
            }
            svg {
                width: 65px;
                height: 65px;
                fill: white;
            }
        }
        span {
            margin-top: 15px;
            margin-bottom: 5px;
            display: block;
            font-size: 1.4em;
            font-weight: bold;
        }
    }
}

.anchor {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid;
    a {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 1em;
        &:hover {
            text-decoration: none;
            color: #B48B3C;
        }
    }
}